* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(44, 44, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(172, 113, 37);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color: rgb(47, 114, 123);
    padding: 20px;
 
}
.right {
    position: initial;
    background-color: rgb(115, 113, 174);
    padding: 20px;
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
    margin-bottom: 30px;
}
.h2 {
    background-color: rgb(4, 96, 150);
}

#info {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #info td, #info th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #info tr:nth-child(even){background-color: #f0a6a6;}
  
  #info tr:hover {background-color: #dddddd97;}
  
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e9670;
    color: white;
  }